.footerContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 0;
}

.footerElements {
  display: flex;
  justify-content: space-between;
}

.links li {
  opacity: 0.5;
}

.eachSection li {
  margin-top: 0.5rem;
}

.social {
  font-size: 24px;
}

.featuresFooter h5 {
  font-size: 1.1rem;
}

.featuresFooter span {
  opacity: 0.75;
}
